@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{font-size:62%; box-sizing: border-box;}

body, #root{height: 100vh;margin: 0;}
body,input, select, button, textarea{font-size:1.6rem;font-family: Montserrat, Helvetica, Arial, sans-serif;}
.grid-container{ display: grid; grid-template-areas: "header" "main" "footer"; height: 100%; grid-template-rows: 5rem 1fr 5rem; grid-template-columns: 1fr; }

header{grid-area: header; display: flex;align-items: center;background-color: #203040;color: #fff;padding-left: .5rem;}
header a{text-decoration: none;color: #fff;}
header a:hover{color:#ff8000;}
main{grid-area: main;}
.content{display: flex;}
.content .sidebar{flex: 1 15rem;}
.content .main{flex: 3 60rem;}
footer{grid-area: footer; display: flex;align-items: center;justify-content: center;background-color: #203040;color: #fff;}

/* Products */
.products{list-style-type: none;display: flex;align-items: center;margin: 0;padding: 0;flex-wrap: wrap;}
.products li{flex: 0 1 29rem;height: 47rem;padding: 1rem;}
.product{display: flex;flex-direction: column;justify-content: space-between;height: 100%;}
.product a{text-decoration: none;}
.product img{max-height: 37rem;max-width: 45rem;}
.product-price{display: flex;justify-content: space-between;text-align: center;}
.product-price div,
.product-price button{text-align: center;flex: 1;}
/* Products */

/* Filter */
.filter{display: flex;justify-content: space-between;border-bottom: 2px solid #203040;padding:8px 20px;}
/* Filter */

/* Cart */
.cart{display: flex; flex-wrap: wrap; padding: 8px 20px;}
.cartHeader{border-bottom: 2px solid #203040;}
.cart-items{list-style: none;width:100%;padding: 0;}
.cart-items img{width: 5rem;}
.cart-items li{display: flex;}
.cart-items li div{padding: .5rem;}
.cart-items li div:last-child{flex: 1;}
.total{display: flex;justify-content: space-between;width: 100%;align-items: center;font-weight: bold;font-size: 1.4rem;}
/* Cart */